.DayItem {
  width: 13%;
  background: rgb(58, 105, 180);

  margin-top: 20px;
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  color: whitesmoke;

  h2,
  h3 {
    font-family: Montserrat;
    font-weight: bold;
  }
}
