.DayItem {
  width: 13%;
  background-color: #126180;

  margin-top: 20px;
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  color: white;

  h2,
  h3 {
    font-family: Montserrat;
    font-weight: bold;
  }
}
