@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&display=swap");

.App {
  font-family: "Montserrat";
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80vw;
  margin: auto;
}
